@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&display=swap');
* 
{
    padding: 0;
    margin: 0;
}
body 
{
    font-family: 'Nunito', sans-serif;
    background-color: #D3EE9F;
    color: black;
    font-size: 1rem;
}
#navegador 
{
    justify-content: space-between;
    background-color: #67999A;
    text-align: center;
    height: 280px;
    display: flex;
}
#navegador-logo img 
{
    margin: 30px 0 40px 0;
    position: absolute;
    margin-left: 30px;
    padding: 0 40px;
    width: 200px;
    z-index: 2;
}
#navegador-logo h2 
{
    padding: 40px 90px 30px 90px;
    background-color: #013334;
    text-transform: uppercase;
    position: absolute;
    color: white;
    top: 200px;
    z-index: 1;
}
#navegador-menu 
{
    padding-top: 15px;
    list-style: none;
    display: flex;
}
#navegador-menu li a 
{
    border-right: 2px solid #550101;
    text-transform: uppercase;
    text-decoration: none;
    padding-right: 15px;
    font-weight: 1000;
    color: #550101;
    margin: 0 10px;

}
#LogoInicio {
    background-image: url(../img/InicioLogo.png);
    padding: 2px 0 0 25px;
    background-size: 18px;
    background-repeat: no-repeat;
    
}
#sinborde { border: none !important; }
#cabecera
{
    padding: 100px 0 100px 0;
    display: flex;
    margin: auto;
    width: 90%;
}
#cabecera-imagen img 
{
    border: 25px solid #D6696C;
    border-radius: 25px;
    height: 500px;
}
#cabecera-texto
{
    text-align: justify;
    margin: 0 100px;
}
#cabecera-texto h2 
{
    text-transform: uppercase;
    margin-bottom: 65px;
    text-align: center;
    font-size: 2rem;
}
#cabecera-enlaces 
{
    margin-top: 50px;
    display: flex;
}
#cabecera-enlace
{
    background-color: grey;
    align-items: center;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    margin: auto;
    width: 40%;
}
#cabecera-enlace img 
{
    margin-right: 10px;
    width: 50px;
}
footer {
    justify-content: space-between;
    background-color: #7B9F35;
    align-items: center;
    padding: 30px;
    display: flex;
}
#piedepagina 
{
    list-style: none;
}
#piedepagina li a 
{
    text-transform: uppercase;  
    text-decoration: none;
    transition: 0.5s all;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
}
#piedepagina-texto 
{
    text-align: justify;
    padding: 0 500px;
    font-weight: 500;
    color: white;
}
#piedepagina-redessociales 
{
    list-style: none;
    display: flex;
}
#piedepagina-redessociales li a img 
{
    margin: 0 15px;
    width: 50px;
}